/*
Theme Name: Chaotic Neutral
Theme URI: https://gitlab.com/jonatansteller/chaoticneutral
Author: Jonatan Jalle Steller
Author URI: https://gitlab.com/jonatansteller
Description: Clean, text-focused WordPress theme developed for an academic journal.
Version: 0.9
License: GNU General Public License v3 or later
License URI: https://www.gnu.org/licenses/gpl-3.0.en.html
Text Domain: chaoticneutral
Tags: academic, journal, neutral, text, typography, responsive, clean
*/


/*
When you change spacing, check the responsive design section.
If you change colors, add them to the customizer in functions.php.

Colours:
- background: #fff    (white)
- primary:    #292c25 (charcoal)
- medium:     #8f948b (timberwolf)
- light:      #e8ebe0 (isabelline)
- secondary:  #33362e (gunmetal)
- accent:     #2196f3 (dodger blue)

Styles:
- Resources
- General
- Headings
- Typography
- Links
- Forms
- Lists
- Tables
- Media

Layout sections:
- Header
- Navigation, meta navigation
- Content, footer
- Meta
- Post navigation
- Comment
- Widgets

Responsive design:
- Print layout
- Screens between 651 and 950 pixels
- Screens below 650 pixels
*/


/*
Resources
*/

@import url('assets/normalize.css');

@font-face {
	font-family: 'Karla';
	font-style: normal;
	font-weight: 400;
	src: local('Karla'), local('Karla-Regular'), url(fonts/karla-regular.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
	font-family: 'Karla';
	font-style: italic;
	font-weight: 400;
	src: local('Karla Italic'), local('Karla-Italic'), url(fonts/karla-regular-italic.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
	font-family: 'Karla';
	font-style: normal;
	font-weight: 700;
	src: local('Karla Bold'), local('Karla-Bold'), url(fonts/karla-bold.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
	font-family: 'Karla';
	font-style: italic;
	font-weight: 700;
	src: local('Karla Bold Italic'), local('Karla-BoldItalic'), url(fonts/karla-bold-italic.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 800;
	src: local('Work Sans ExtraBold'), local('WorkSans-ExtraBold'), url(fonts/worksans-extrabold.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


/*
General
*/

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit; /*http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice*/
}

body {
	background: #fff; /*background*/
	margin: 0;
}

hr {
	background: #8f948b; /*medium*/
	border: 0;
	height: 1px;
	margin: 1.8em 0 1.8em 0;
}

.redundant,
.screen-reader-text {
	display: none;
}


/*
Headings
*/

h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: "Work Sans", "Helvetica Neue", helvetica, arial, sans-serif;
	font-weight: 800;
	line-height: 1.25;
	margin: 0 0 0.75em 0;
	padding: 0.75em 0 0 0;
	text-transform: uppercase;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	padding-top: 0;
}

h1 {
	font-size: 32px; font-size: 2rem;
}

h2 {
	font-size: 28px; font-size: 1.75rem;
}

h3 {
	font-size: 24px; font-size: 1.5rem;
}

h4 {
	font-size: 21px; font-size: 1.3rem;
}

h5 {
	font-size: 18px; font-size: 1.125rem;
}

h6 {
	font-size: 14px; font-size: 0.875rem;
}

article h1,
article h2 {
	color: #292c25; /*primary*/
}

article h3,
article h4 {
	color: #8f948b; /*medium*/
}

article h5,
article h6 {
	color: #e8ebe0; /*light*/
}

h1.index-title {
	color: #8f948b; /*medium*/
	margin-bottom: 1.2em;
}


/*
Typography
*/

body,
button,
input,
select,
textarea,
mark {
	color: #292c25; /*primary*/
	font-family: "Karla", "Helvetica Neue", helvetica, arial, sans-serif;
	font-size: 18px; font-size: 1.125rem;
	line-height: 1.5;
}

p {
	margin: 0 0 1em 0;
	padding: 0;
}

dfn,
var,
cite,
em,
i {
	font-style: italic;
}

strong,
b {
	font-weight: bolder;
}

blockquote {
	border-left: 0.4em solid #e8ebe0; /*light*/
	margin: 0 0 1em 0;
	padding: 0 0 0 1em;
}

address {
	margin: 0 0 1em 0;
	font-style: italic;
}

pre {
	background: #e8ebe0; /*light*/
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", Courier, monospace;
	font-size: 17px; font-size: 1.0625rem;
	margin-bottom: 1em;
	max-width: 100%;
	overflow: auto;
	padding: 1.2em 1.4em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", Courier, monospace;
	font-size: 17px; font-size: 1.0625rem;
	vertical-align: baseline;
}

abbr[title],
acronym {
	border-bottom: 2px dotted #8f948b; /*medium*/
	text-decoration: none;
	cursor: help;
	font-variant: none;
}

mark,
ins {
	background: #e8ebe0; /*light*/
	text-decoration: none;
}

del,
s {
	text-decoration: line-through double #8f948b; /*medium*/
}

sub,
sup {
	font-size: 80%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.35em;
}

big {
	font-size: 120%;
	line-height: 1.25;
}

small {
	font-size: 80%;
}


/*
Links
*/

:focus {
	outline: none;
}

a,
a:visited {
	color: #2196f3; /*accent*/
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	color: #292c25; /*primary*/
}

a img,
a:visited img {
	transition: opacity 0.2s;
}

a:hover img,
a:focus img,
a:active img {
	opacity: 0.7;
}

#header a,
#header a:visited {
	transition: color 0.2s, fill 0.15s;
	color: #fff; /*background*/
	fill: #fff; /*background*/
}

#header a:hover,
#header a:focus,
#header a:active {
	color: #2196f3; /*accent*/
	fill: #2196f3; /*accent*/
}

#content a,
#content a:visited,
#footer a,
#footer a:visited {
	border-bottom: 2px solid transparent;
	transition: border-bottom-color 0.2s, color 0.15s;
}

#content a:focus,
#content a:hover,
#content a:active,
#footer a:focus,
#footer a:hover,
#footer a:active {
	border-bottom-color: currentColor;
}

#footer a:hover,
#footer a:focus,
#footer a:active {
	color: #fff; /*background*/
}

#navigation a,
#navigation a:visited,
#metanavigation a,
#metanavigation a:visited {
	transition: background 0.15s;
}

#navigation a:hover,
#navigation a:focus,
#navigation a:active,
#metanavigation a:hover,
#metanavigation a:focus,
#metanavigation a:active {
	background: #2196f3; /*accent*/
}

.meta-top a,
.meta-top a:visited,
.meta-bottom a,
.meta-bottom a:visited,
.meta-author a,
.meta-author a:visited,
.comment-meta a,
.comment-meta a:visited {
	color: #8f948b; /*medium*/
}

.meta-top a:hover,
.meta-top a:focus,
.meta-top a:active,
.meta-bottom a:hover,
.meta-bottom a:focus,
.meta-bottom a:active,
.meta-author a:hover,
.meta-author a:focus,
.meta-author a:active,
.comment-meta a:hover,
.comment-meta a:focus,
.comment-meta a:active {
	color: #2196f3; /*accent*/
}


/*
Forms
*/

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea,
select {
	color: #292c25; /*primary*/
	border: 1px solid #8f948b; /*medium*/
	background: transparent;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus,
select:focus {
	color: #2196f3; /*accent*/
	border-color: #292c25; /*primary*/
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea,
select {
	padding: 4px;
	width: 100%;
}

textarea {
	padding: 0 0 0 3px;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="url"]::placeholder,
input[type="password"]::placeholder,
input[type="search"]::placeholder,
input[type="number"]::placeholder,
input[type="tel"]::placeholder,
input[type="range"]::placeholder,
input[type="date"]::placeholder,
input[type="month"]::placeholder,
input[type="week"]::placeholder,
input[type="time"]::placeholder,
input[type="datetime"]::placeholder,
input[type="datetime-local"]::placeholder,
input[type="color"]::placeholder,
textarea::placeholder {
	color: #8f948b; /*medium*/
	opacity: 1;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 0;
	border-radius: 0;
	background: #292c25; /*primary*/
	box-shadow: none;
	cursor: pointer;
	color: #fff; /*background*/
	font-size: 14px; font-size: 0.875rem;
	line-height: 1;
	padding: 1em 1.5em;
	text-shadow: none;
	text-transform: uppercase;
	transition: background 0.2s;
}

button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
	background: #2196f3; /*accent*/
}


/*
Lists
*/

article ul,
article ol {
	margin: 0 0 1em 0.95em;
	padding: 0;
}

article ul {
	list-style: square outside;
}

article ol {
	list-style: decimal outside;
}


article li {
	padding-left: 0.45em;
}

article li > ul,
article li > ol {
	margin-bottom: 0;
	margin-left: 1.4em;
}

article dt {
	font-weight: bold;
}

article dd {
	margin: 0 0 1em 1.4em;
}


/*
Tables
*/

table {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0 0 1em 0;
	width: 100%;
}

td,
th {
	border: 1px solid #8f948b; /*medium*/
	padding: 0.3em 0.5em;
}

th {
	text-align: left;
}


/*
Media
*/

figure {
	margin: 0;
	padding: 0;
}

a img,
a svg {
	vertical-align: middle;
}

#content img,
#footer img
#content figure,
#footer figure {
	max-width: 100%;
	height: auto;
}

.alignnone,
.aligncenter,
embed,
iframe,
object {
	margin: 1.3em auto 1.2em auto;
	max-width: 100%;
	clear: both;
	display: block;
}

.alignleft,
.alignright {
	margin-top: 0.5em;
	margin-bottom: 1.2em;
}

.alignleft {
	float: left;
	margin-right: 1.7em;
}

.alignright {
	float: right;
	margin-left: 1.7em;
}

.wp-caption img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption-text {
	font-size: 80%;
	text-align: left;
	margin-top: 0.5em;
}

.wp-caption.alignnone,
.wp-caption.aligncenter {
	margin-bottom: 1em;
}

.wp-caption.alignleft,
.wp-caption.alignright {
	margin-bottom: 1em;
}

/* Media: gallery */

.gallery {
	clear: both;
	display: block;
	margin: 1.3em auto 0.2em auto;
	max-width: 100%;
}

.gallery .wp-caption-text {
	text-align: center;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
	margin-bottom: 1em;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

/* Media: thumbnail */

.post-thumbnail {
	float: right;
	margin: 0.3em 0 0.5em 1.5em;
}


/*
Header
*/

#header {
	background: #33362e; /*secondary*/
	color: #fff; /*background*/
	text-align: center;
	overflow: hidden;
	padding: 2em 0 1.6em 0;
}

#header img,
#header svg {
	height: 150px;
	width: auto;
}

#header h1 {
	font-size: 45px; font-size: 2.8125rem;
	margin: 0;
	padding: 0;
}

#header p {
	margin: 0.5em 0 0 0;
}

.wp-custom-logo #header h1,
.wp-custom-logo #header p,
.has-svg-logo #header h1,
.has-svg-logo #header p {
	display: none;
}


/*
Navigation, meta navigation
*/

#navigation,
#metanavigation {
	background: #292c25; /*primary*/
	color: #fff; /*background*/
	text-align: center;
	font-size: 14px; font-size: 0.875rem;
	line-height: 1;
	text-transform: uppercase;
}

#navigation ul,
#metanavigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#navigation li,
#metanavigation li {
	display: inline;
}

#navigation a,
#navigation a:visited,
#metanavigation a,
#metanavigation a:visited {
	color: #fff; /*background*/
	display: inline-block;
	padding: 1.25em 1.1em;
	text-decoration: none;
}


/*
Content, footer
*/

#content,
#footer .widget-area {
	margin: 0 auto;
	padding: 3em 2em 0 2em;
	max-width: 1184px; max-width: calc( 1200px - 1em );
	overflow: hidden;
}

#primary,
#footer-left {
	max-width: 700px;
	width: 64%;
	float: left;
	word-wrap: break-word; overflow-wrap: break-word;
	padding-top: 0.1em;
	overflow: hidden;
}

#secondary,
#footer-right {
	float: right;
	width: 30%;
	overflow: hidden;
}

article {
	margin-bottom: 2.8em;
}

#footer {
	background: #33362e; /*secondary*/
	color: #fff; /*backgroun*/
}


/*
Meta
*/

.meta-top,
.meta-bottom,
.meta-author {
	font-size: 14px; font-size: 0.875rem;
	color: #8f948b; /*medium*/
	text-transform: uppercase;
}

.meta-top {
	margin-top: -0.75em;
	margin-bottom: 1.5em;
}

.meta-bottom {
	margin-top: 1.5em;
}

.meta-top span,
.meta-bottom span {
	margin-right: 1rem;
}

.meta-top span:last-child,
.meta-bottom span:last-child {
	margin-right: 0;
}

.meta-top a,
.meta-bottom a {
	white-space: nowrap;
}

/* Meta: author */

.meta-author {
	margin-top: 3.5em;
	padding-left: 70px;
}

.meta-author img {
	border-radius: 25px;
	height: 50px;
	width: 50px;
	margin-left: -70px;
	margin-top: -0.3em;
	float: left;
	overflow: hidden;
}

.meta-author-name {
	font-weight: bold;
}

.meta-author-description {
	display: block;
}


/*
Post navigation
*/

.comment-navigation,
.post-navigation,
.posts-navigation {
	margin-bottom: 2.8em;
}

.comment-navigation .nav-links,
.post-navigation .nav-links,
.posts-navigation .nav-links {
	border-bottom: 1px solid #8f948b; /*medium*/
	border-top: 1px solid #8f948b; /*medium*/
	margin: 1em 0;
	padding: 1em 0;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.comment-navigation .nav-next,
.post-navigation .nav-subtitle,
.posts-navigation .nav-previous,
.posts-navigation .nav-next {
	font-size: 14px; font-size: 0.875rem;
	font-weight: 700;
	text-transform: uppercase;
}

.post-navigation .nav-subtitle {
	display: block;
}

.comment-navigation .nav-previous,
.post-navigation .nav-previous,
.posts-navigation .nav-previous {
	float: left;
	width: 49%;
}

.comment-navigation .nav-next,
.post-navigation .nav-next,
.posts-navigation .nav-next {
	float: right;
	width: 49%;
	text-align: right;
}


/*
Comment
*/

#comments {
	margin-bottom: 2.8em;
}

.comments-title,
.comment-reply-title {
	font-size: 26px; font-size: 1.625rem;
}

.comment-list,
.comment-list .children {
	list-style: none;
	margin: 0;
	padding: 0;
}

.comment-list {
	border-bottom: 1px solid #8f948b; /*medium*/
	margin-top: 1.4em;
	margin-bottom: 3.5em;
}

.comment-list .children {
	padding-left: 70px;
}

.comment-list article {
	padding-bottom: 0;
}

.comment-body {
	margin-bottom: 1.5em;
	padding-left: 70px;
	padding-top: 1.5em;
	border-top: 1px solid #8f948b; /*medium*/
}

.comment-meta,
.comment-list .reply {
	font-size: 14px; font-size: 0.875rem;
	color: #8f948b; /*medium*/
	text-transform: uppercase;
}

.comment-list .reply {
	margin-top: 1.5em;
}

.comment-list .edit-link {
	margin-left: 1em;
}

.comment-content {
	margin-top: 1.1em;
}

.comment-content p:last-child {
	margin-bottom: 0;
}

.comment-content a {
	word-wrap: break-word; overflow-wrap: break-word;
}

.comment-author img {
	border-radius: 25px;
	height: 50px;
	width: 50px;
	margin-left: -70px;
	margin-top: -0.3em;
	float: left;
	overflow: hidden;
}

.no-comments,
.comment-awaiting-moderation {
	font-style: italic;
}

.comment-awaiting-moderation {
	margin-bottom: 0;
}

/* Comment: form */

.comment-form {
	margin-bottom: 3em; /*increased from 2.8em because of the button */
}

.comment-form-comment label,
.comment-form-author label,
.comment-form-email label,
.comment-form-url label {
	display: none;
}


/*
Widgets
*/

.widget {
	margin-bottom: 2.8em;
}

#secondary .widget,
#footer .widget {
	font-size: 80%;
	margin-bottom: 3.5em;
}

#secondary h2.widget-title,
#footer h2.widget-title {
	font-size: 18px; font-size: 1.125rem;
}

.widget-title a {
	color: inherit;
}

.nothing .widget_recent_entries {
	padding-top: 2.2em;
}

.issues .widget_categories {
	padding-top: 1.2em;
}

.issues h2.widget-title,
.issues h2.widgettitle {
	display: none;
}

/* Widgets: forms */

.widget input[type="text"],
.widget input[type="email"],
.widget input[type="url"],
.widget input[type="password"],
.widget input[type="search"],
.widget input[type="number"],
.widget input[type="tel"],
.widget input[type="range"],
.widget input[type="date"],
.widget input[type="month"],
.widget input[type="week"],
.widget input[type="time"],
.widget input[type="datetime"],
.widget input[type="datetime-local"],
.widget input[type="color"],
.widget textarea,
.widget select {
	width: 100%;
}

/* Widgets: search */

.search-form {
	position: relative;
	padding-bottom: 0.25em;
}

.search-form input[type="search"] {
	padding: 7px 7px 6px 7px;
}

.search-form .search-submit {
	position: absolute;
	right: 0;
	top: 0;
}

/* Widgets: text */

.widget_text {
	word-wrap: break-word; overflow-wrap: break-word;
}

.widget_text p {
	margin-bottom: 0.6em;
}

.widget_text p:last-child {
	margin-bottom: 0;
}

/* Widgets: list */

.widget ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.widget ul li {
	border-bottom: 1px solid #8f948b; /*medium*/
	border-top: 1px solid #8f948b; /*medium*/
	padding: 0.5em 0;
}

#footer .widget ul li {
	border-bottom-color: #8f948b; /*medium*/
	border-top-color: #8f948b; /*medium*/
}

.widget ul li + li {
	margin-top: -1px;
}

.widget ul li ul {
	margin-top: -1px;
}

.widget ul li li {
	border: 0;
	padding-left: 1em;
}

/* Widgets: archives, RSS */

.widget .post-date,
.widget .rss-date,
.widget_rss cite {
	display: block;
	font-size: 80%;
}

.rss-widget-icon {
	display: none;
}

.widget_rss .rssSummary {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding-left: 1em;
}

/* Widgets: tag cloud */

.tagcloud,
.widget_tag_cloud,
.wp_widget_tag_cloud {
	line-height: 1.5;
}

.widget_tag_cloud a {
	border: 1px solid #8f948b; /*medium*/
	display: inline-block;
	float: left;
	font-size: 1rem !important; /* overwrite inline styles */
	margin: 4px 4px 0 0 !important;
	padding: 4px 10px 5px !important;
	position: relative;
	transition: border-color 0.2s;
	width: auto;
	word-wrap: break-word; overflow-wrap: break-word;
}

#footer .widget_tag_cloud a {
	border-color: #8f948b; /*medium*/
}

.widget_tag_cloud a:hover,
.widget_tag_cloud a:focus {
	border-color: #292c25; /*primary*/
	text-decoration: none;
}

/* Widgets: calendar */

.widget_calendar table {
	margin-top: 0.5em;
	margin-bottom: -0.5em;
}

.widget_calendar th,
.widget_calendar td {
	text-align: center;
}

.widget_calendar tfoot td {
	border: 0;
}


/*
Print layout
*/

@media print {

	body {
		background: transparent;
	}

	#navigation,
	#metanavigation,
	#secondary,
	.comment-navigation,
	.post-navigation,
	.posts-navigation,
	#comments,
	#footer {
		display: none;
	}

	body,
	button,
	input,
	select,
	textarea,
	mark {
		color: #000;
	}

	#header {
		background-color: transparent;
		color: #000;
		border-bottom: 0.2em solid #000;
	}

	#header a {
		color: #000;
		fill: #000;
	}

	#header svg {
		height: 100px;
		width: auto;
	}

	#content {
		padding: 1.8em 0 0 0;
		max-width: none;
		padding-top: 1.8em;
	}

	#primary {
		max-width: none;
		width: auto;
		float: none;
	}

	.single article {
		margin-bottom: 0;
	}

}


/*
Screens between 651 and 950 pixels
*/

@media screen and (max-width: 950px) and (min-width: 651px) {

	#header img,
	#header svg {
		height: 120px;
	}

	#header h1 {
		font-size: 32px; font-size: 2rem;
	}

	#content,
	#footer .widget-area {
		max-width: none;
	}

	#content {
		padding-left: 0;
		padding-right: 0;
	}

	#primary,
	#secondary,
	#secondary .widget,
	#footer-left,
	#footer-right {
		max-width: 764px; max-width: calc( 700px + 4em );
		width: auto;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}

	#secondary {
		background: #e8ebe0; /*light*/
		max-width: none;
		padding-top: 2.8em;
	}

	#primary,
	#secondary .widget,
	#footer-left,
	#footer-right {
		padding-left: 2em;
		padding-right: 2em;
	}

}


/*
Screens below 650 pixels
*/

@media screen and (max-width: 650px) {

	hr {
		margin-top: 1.3em;
		margin-bottom: 1.3em;
	}

	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 0.5em;
		padding-top: 0.5em;
	}

	h1.index-title {
		margin-bottom: 0.7em;
	}

	.alignleft,
	.alignright,
	.post-thumbnail {
		margin: 1.3em auto 1.2em auto;
		max-width: 100%;
		display: block;
		float: none;
	}

	.gallery-item {
		display: block;
	}

	.gallery-columns-2 .gallery-item,
	.gallery-columns-3 .gallery-item,
	.gallery-columns-4 .gallery-item,
	.gallery-columns-5 .gallery-item,
	.gallery-columns-6 .gallery-item,
	.gallery-columns-7 .gallery-item,
	.gallery-columns-8 .gallery-item,
	.gallery-columns-9 .gallery-item,
	.gallery-columns-3 .gallery-item,
	.gallery-columns-3 .gallery-item,
	.gallery-columns-3 .gallery-item,
	.gallery-columns-3 .gallery-item {
		max-width: none;
	}

	#header {
		padding-top: 1.4em;
		padding-bottom: 1.1em;
	}

	#header img,
	#header svg {
		height: 80px;
	}

	#header h1 {
		font-size: 32px; font-size: 2rem;
	}

	#navigation,
	#metanavigation {
		padding-left: 0.5em;
		padding-right: 0.5em;
		white-space: nowrap;
		overflow-x: scroll;
	}

	#navigation a,
	#navigation a:visited,
	#metanavigation a,
	#metanavigation a:visited {
		padding-left: 0.8em;
		padding-right: 0.8em;
	}

	#content,
	#footer .widget-area {
		padding: 1.3em 0 0 0;
		max-width: none;
	}

	#footer .widget-area {
		padding-top: 1.1em;
	}

	#primary,
	#secondary,
	#footer-left,
	#footer-right {
		max-width: none;
		width: auto;
		float: none;
		padding-top: 0;
	}

	#primary,
	#secondary,
	#footer-left,
	#footer-right {
		padding-left: 1em;
		padding-right: 1em;
	}

	#secondary {
		padding-top: 1.1em;
		background: #e8ebe0; /*light*/
	}

	article {
		margin-bottom: 2em;
	}

	.meta-author {
		margin-top: 2.8em;
	}

	.comment-navigation,
	.post-navigation,
	.posts-navigation,
	#comments {
		margin-bottom: 2em;
	}

	.comment-list {
		margin-bottom: 2.8em;
	}

	.comment-form {
		margin-bottom: 2.2em; /*increased from 2em because of the button */
	}

	.widget {
		margin-bottom: 2em;
	}

	#secondary .widget,
	#footer .widget {
		margin-bottom: 2.8em;
	}

}
